<mat-card class="pokemon-card">
  <div *ngIf="pokemonInfo; else loader">
    <div style="display: flex; align-items: center">
    <mat-card-title class="card-title">{{pokemonInfo.name}}</mat-card-title>

      <mat-icon
        class="material-icons-outlined"
        (click)="processStarClick()"
      >
        {{isFavorite ? 'star' : 'star_border'}}
      </mat-icon>
    </div>
      <img
      mat-card-image
      src="{{pokemonInfo?.sprites.other.home.front_default}}"
    >
    <div class="types-wrapper">
      <div *ngFor="let typeInfo of pokemonInfo.types" class="pokemon-type" (click)="pokeService.addType(typeInfo.type.name)">
        {{typeInfo.type.name}}
      </div>
    </div>
  </div>
</mat-card>
<ng-template #loader>
  <div class="loader">Loading...</div>
</ng-template>
