.header-wrapper {
  position: fixed;
  position: -webkit-sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.chips {
  display: flex;
  height: 30px;
  align-items: center;
  background: white;
  padding: 5px;
  width: 100%;
}

.mat-chip-list-wrapper {
  margin-top: 5px!important;
}

.app-toolbar {
  display: flex;
  justify-content: space-between;
}

.paginator {
  background: #673ab7;
  color: #ffff;
}

.mat-select-value-text {
  color: #ffff!important;
}

.header-actions {
  display: flex;
  align-items: center;
}
